# Change port if already in use
PORT = 3000

# Your MongoDB url here
DB =mongodb+srv://Ankit:<Ankit00!!>@joblane.u42b7zj.mongodb.net/

# Enter your cloudinary details here
CLOUDINARY_NAME = 
CLOUDINARY_API_KEY =
CLOUDINARY_API_SECRET =